<div class="container">

<div class="dashboard-card" id="top">
  <div class="d-flex justify-content-between align-items-center">
    <%= cl_image_tag @user.photo, height: 150, width: 200, crop: :fill %>
    <div>
      <% if @user.username.nil? %>
      <h1>Hello <%= @user.email %> ! </h1>
      <% else %>
      <h1>Hello <%= @user.username %> ! </h1>
      <% end %>
    </div>
    <div >
      <% if DjProfile.find_by(user_id: @user.id) %>
        <%= link_to "My DJ page",  dj_profile_path(DjProfile.find_by(user_id: @user.id).id), class: "btn-ghost-orange"  %>
        <% else %>
        <%= link_to "Create a DJ page",  new_dj_profile_path, class: "btn-ghost-orange"   %>
        <% end %>
    </div>
  </div>
</div>

<% if DjProfile.find_by(user_id: @user.id) %>
<div class="dashboard-card">
  <h3 style="margin-bottom: 30px">My Bookings as DJ</h3>
  <% @bookings_dj.each do |booking| %>
    <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 15px">
      <h5 style="margin: 0; color: #E5E5E5"><%= booking.name %>, <%= booking.location %> | <%= Date::MONTHNAMES[booking.date.month] %> <%= booking.date.year%></h5>
      <div>
        <% if booking.validated == false %>
          <%= simple_form_for(booking) do |f| %>
            <%= f.input :validated, as: :hidden, input_html: { value: true } %>
            <%= f.button :submit, "Accept Booking",class: "btn-ghost-orange" %>
          <% end %>
        <% else %>
          <h6 style="color: green">Validated</h6>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% else %>
<div class="dashboard-card">
  <h3 style="margin-bottom: 30px">My Bookings as Promoter</h3>
  <% @bookings_user.each do |booking| %>
  <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 15px">
    <h5 style="margin: 0; color: #E5E5E5"><%= booking.name %>, <%= booking.location %> | <%= Date::MONTHNAMES[booking.date.month] %>
      <%= booking.date.year%> with <%= booking.dj_profile.stage_name%> </h5>
    <div>
      <% if booking.validated == false %>
      <div class="d-flex align-items-center">
        <h6 style="color:orange; margin-bottom:0px; margin-right:10px">Pending</h6>
        <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, booking_path(booking), method: :delete, data: {confirm: "Are you sure ?"} %>
      </div>
      <% else %>
      <h6 style="color:green" style="margin: 0">Validated</h6>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<% end %>


<div class="dashboard-card">
  <h3 style="margin-bottom: 25px">Profile Admin</h3>

    <div class="d-flex justify-content-between dashboard" style="margin-bottom: 10px">
      <div>
        <%= link_to "Change my username", "#user-form", class:"btn-ghost", id:"username-btn"  %>
      </div>

      <div>
        <%= link_to "Change my password",  edit_user_registration_path, class:"btn-ghost"  %>
      </div>

      <div>
          <%= link_to "Change my picture", "#picture-form", class:"btn-ghost", id:"picture-btn"  %>
        </div>
      </div>
      <div class="d-flex justify-content-around" >

        <div class="d-none" , id="user-form">
          <%= render 'users/form' %>
        </div>

        <div class="d-none" , id="picture-form">
          <div id="admin-container">
            <div id="admin-form">
              <%= simple_form_for(@user) do |f| %>
                <%= f.input :photo %>
                <%= f.input :photo_cache, as: :hidden %>
                <%= f.button :submit, "Update picture", class:"btn-ghost-orange" %>
              <% end %>
            </div>
          </div>
        </div>

    </div>

</div>

</div>
