<div id="push"></div>
<footer class="footer navbar-fixed-bottom footer-links">
  <div class="container-flex">
    <div class="footer-links">
        <%= link_to "Back Home Fyre", root_path, class: "navbar-link" %>
        <%= link_to "Contact us", "#", class: "navbar-link" %>
        <%= link_to "Terms of use", "#", class: "navbar-link" %>
    </div>
    <div class="footer-credits">
        <p><%= "Le Wagon powerful attitude" %></p>
        <p id="credits"><%= "© All rights reserved to Whisp Team 2019" %></p>
    </div>
  </div>
</footer>
