
  <div class="container mt-5">

    <div>
    <%= link_to "< Go Back to all Djs", dj_profiles_path %>
    </div>
    <div class="djdetails">

      <div class="bio-card">
        <h3>BIO</h3>
        <p><%= @dj_profile.bio %></p>

        <p style="font-weight:500">Listen to <%= @dj_profile.stage_name%> on Soundcloud</p>
        <%= link_to (@dj_profile.social_media) do %>
          <i class="fab fa-soundcloud" style="font-size: 40px; color:$fyre-dark-blue"></i></p>
          <% end %>
      </div>

      <div class="pic-name-rating-card">

      <% if @dj_profile.user.photo.file.nil? %>
        <%= image_tag "https://www.residentadvisor.net/images/profiles/breitlitz.jpg", alt: @dj_profile.stage_name, class:"avatar-large" %>
      <% else %>
        <%= cl_image_tag @dj_profile.user.photo, alt: @dj_profile.stage_name, class:"avatar-large" %>
      <% end %>


        <h1><%= @dj_profile.stage_name %></h1>

        <p>This DJ plays</p>
          <span class="genres">
          <% @dj_profile.genres.each do |genre| %>
          <%= link_to genre, genre_path(genre), class:"genre-name"  %>
            <% end %>
          </span>
        </p>

        <p class="mt-3">Average Fyre rating</p>
        <p>
          <%rating = 4 %>
            <% rating.times do %>
            <i class="fas fa-fire" style="color:#394154"></i>
          <% end %>
            <% (5-rating).times do %>
            <i class="fas fa-fire"></i>
          <% end %>
        </p>
        <p class="reviews-count">out of <%= @dj_profile.reviews.count %> review(s)</p>

        <%= link_to "BOOK THE ARTIST", "#collapseExample", class:"btn-ghost mt-3", id:"booking-btn"  %>

      </div>


      <!-- We need to show all past bookings before validation -->
      <div class="dj-events-card">
        <h3 class="mb-0"><%= @dj_profile.stage_name %>'s</h3>
        <h3>PAST EVENTS</h3>

          <% @bookings.each do |booking| %>
            <% if booking.dj_profile_id == @dj_profile.id %>
              <p class="indiv-event">
                "<%= booking.name %>"
                in <%= booking.location %>
                on <%= Date::MONTHNAMES[booking.date.month] %> <%= booking.date.year%>
              </p>
            <% end %>
          <% end %>

      </div>


    </div>
      <div class="card d-none", id="dj-booking-form">
      <%= render 'bookings/form' %>
      </div>

    <div class="review-card">

      <h3><%= @dj_profile.stage_name %>'s reviews</h3>

        <% @dj_profile.reviews.each do |review| %>
        <div class="indiv-review">
          <p style="font-weight:500">Placeholder Jean-Michel <%= review.booking.user.username %> -
          <% review.fyre_stars.times do %>
            <i class="fas fa-fire" style="color:white"></i>
            <% end %>
            <% (5-review.fyre_stars).times do %>
            <i class="fas fa-fire" style="color:grey"></i>
            <% end %>
          </p>
          <p class="comment">"<%= review.comment %>"</p>
        </div>
          <p>Comment left on <span><%= Date::MONTHNAMES[review.booking.date.month] %></span> <span> <%= review.booking.date.year%></span></p>
        <% end %>
    </div>

    </div>

  </div>



